.wrapper {
    margin-top: 50px;
    display: flex;
    float: center;
}

.logo {
    height: 350px;
    width: 600px;
}

.uk-card {
    margin: 20px;
    border: 1px solid rgb(233, 233, 233);
}

.wrapper-search {
    margin: 0 auto;
    width: 1000px;
}

.search-box {
    width: 100%;
    height: 45px;
    background-color: rgb(159, 206, 156);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: white;
    padding: 0 20px;
}

.search-btn {
    position: relative;
    height: 45px;
    background-color: rgb(212, 212, 212) !important;
    float: right;
}

.search-buttons {
    background-color: rgb(50, 128, 46) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.home-buttons {}

.under-btn {
    display: inline-flex;
    padding-top: 15px;
    justify-content: center;
<<<<<<< HEAD
    margin-top: 15px!important;
    background-color: rgb(98, 165, 32)!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Reply and Seed Create Card Styling */

.avatar-img {
    text-align: right;
}

.first-post-container {
    background-color:rgb(218,224,230);
}

.reply-btn {
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    border: none;
    transition: 0.3s;
}

.reply-btn:hover {
    font-size: 90%;
}

.vote-icon {
    margin: 2px;
    height: 14px;
    width: 14px;
}

.vote-tally-icon {
    margin-top: 11px;
    height: 14px;
    width: 14px;
}

#tally {
    display: inline-flex;
    text-align: center;
}

#upvote-tally{
    margin: 0;
    padding-bottom: 5px;
    padding: 5px;
    vertical-align: baseline;   
}

#downvote-tally{
    margin: 0;
    padding-bottom: 5px;
    padding: 5px;
    vertical-align: baseline;
}

.post-card {
    border: 1px rgb(158, 158, 158) solid;
}

#posted-by {
    margin-bottom: 0;
    margin-top: 12px;
    margin-top: 15px !important;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15); */
}

#reply-box {
    background-color: whitesmoke;
    border: none;
    height: 30px;
    padding: 1%;
    overflow: hidden;
    float: left;
    padding: right 10px;

}

#input-btn {
    float: right;
    overflow: hidden;
    padding-top: 5px;

}

.space {

    margin-right: 15px;
}

#comments {
    float: right;
}

#t-up {
    cursor: pointer;
}

#t-down {
    cursor: pointer;
}

/* NEW SEED BUTTON */
/* Form Title  */
.new-seed-title {
    color: black;
    font-size: 40px;
    font-weight: 200;
}

.form {
    position: absolute;
    margin-top: 250px;
    width: 800px;
}

#u-account {
    margin-right: 40px;
}

#sign-up {
    color: rgb(17, 175, 6);
}

.signing-up {
    margin: 0 auto;
    width: 200px;
    padding-top: 50px;
}

.signing-in {
    margin: 0 auto;
    width: 200px;
    padding-top: 50px;
}

#sign-in-btn {
    background-color: green;
    float: right;
}

#form-title {
    color: black;
    font-size: 40px;
    font-weight: 200;
}

#form {
    position: absolute;
    margin-top: 250px;
    width: 800px;
}

<<<<<<< HEAD
#sign-in-btn{
    background-color:green;
    float:right;
>>>>>>> 033bab0148edcbfbbc7179d595e177982f5df62f
=======
.thumbs {
    color: black;
}

.thumbs-up {
    /* margin-left: 30px; */
}

#text-reply {
    margin-top: 15px;
    width: 80%;
    background-color: whitesmoke;
    border: none;
}

#reply-btn-comment {
    margin-top: 13px;
    float: right;
}

#reply-image{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right:10px;
}

#reply-image {border-radius: 50%;}

#u-header{
    margin-top:10px;
    float:left;
>>>>>>> df619f52190fc1178588a9a29ed5e034218e54b2
}